// GOOGLE'S Cubic beziers

$out-back: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$out-sine: cubic-bezier(0.39, 0.58, 0.57, 1);
$out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);

$in-back: cubic-bezier(0.6, -0.28, 0.74, 0.05);
$in-sine: cubic-bezier(0.47, 0, 0.75, 0.72);
$in-quad: cubic-bezier(0.55, 0.09, 0.68, 0.53);
$in-cubic: cubic-bezier(0.55, 0.06, 0.68, 0.19);

$inout-back: cubic-bezier(0.68, -0.55, 0.27, 1.55);
$inout-sine: cubic-bezier(0.45, 0.05, 0.55, 0.95);
$inout-quad: cubic-bezier(0.46, 0.03, 0.52, 0.96);
$inout-cubic: cubic-bezier(0.65, 0.05, 0.36, 1);

$linear-slow: cubic-bezier(0.18, 0.89, 0.32, 1.28);
$fast-linear: cubic-bezier(0.4, 0, 1, 1);
$fast-slow: cubic-bezier(0.4, 0, 0.2, 1);