$navy: #001f3f;			$orange: #FF851B;
$blue: #0074D9;			$red: #FF4136;
$aqua: #7FDBFF;			$maroon: #85144b;
$teal: #39CCCC;			$fuchsia: #F012BE;
$olive: #3D9970;		$purple: #B10DC9;
$green: #2ECC40;		$black: #111111;
$lime: #01FF70;			$gray: #AAAAAA;
$yellow: #FFDC00;		$silver: #DDDDDD;
